/* globle style */
a {
  text-decoration: none;
}
/* end of globle style */

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.header-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.d {
  width: 50%;
}
.header-photo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-text h1 {
  width: 50%;
  color: white;
  font-size: 30px;
  text-align: left;
}

.header-links {
  width: 100%;
  color: white;
  margin-top: 30px;
}
.name {
  color: #ed5565;
  margin-left: 2px;
  font-size: 45px;
}
.f {
  margin-left: 7px;
}
.name:hover {
  color: lightseagreen;
}

/* links style */

.header-lists {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.list-item {
  display: block;
  cursor: pointer;
  background-color: #ffff99;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  padding: 5px;
  width: 120px;
}
.list-item > a {
  color: black;
}
.list-item:hover {
  background-color: #ffff00;
}

/* end of links styling */

/* media queries */
@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    height: 100vh;
  }
  .d {
    width: 100%;
  }
  .header-text h1 {
    /* justify-content: center; */
    /* margin-top: 10px; */
    padding-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .name {
    font-size: 20px;
  }
  .header-links {
    margin-top: 10px;
  }
  .header-lists {
    margin-top: 0px;
    justify-content: left;
  }
  .list-item {
    margin-left: px;
    margin-top: 5px;
    font-size: 16px;
  }
}
/* end media queries */
