* {
  box-sizing: border-box;
}
.slider-continer {
  background-color: rgba(204, 204, 179, 0.5);
  width: 100%;
  margin: 0 auto;
  color: black;
  font-weight: 800;
  position: relative;
  /* border-radius: 16px 0 0 16px; */
}
.slider-quot {
  padding: 10px;
}
.slider-quot p {
  font-weight: 500;
  text-align: center;
}
.slider-prev,
.slider-next {
  border: 1px solid black;
  position: absolute;
  top: 50%;
}
.slider-next {
  right: 0;
}
.loading-indicator {
  width: 100%;
  background-color: grey;
  position: sticky;
}
.loading {
  width: 1%;
  height: 5px;
  background-color: black;
  opacity: 0.5;
}
